* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  text-align: center;
  padding: 40px;
  text-decoration: underline;
}

.main {
  display: grid;
  grid-gap: 30px;
}

.main-item {
  margin: 30px 100px;
  display: grid;
  grid-gap: 50px;
}

i {
  padding: 5px 30px;
  color: #0000008e;
}

.main__cheques {
  border: 2px solid #000;
  padding: 20px;
  display: grid;
  grid-gap: 20px;
}

.btn-main {
  display: grid;
  grid-gap: 150px;
  grid-template-columns: 1fr 120px;
}

.firma {
  border: none;
  border-bottom: 1px solid #000;
  padding: 5px 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.btn-cheque {
  padding: 5px;
  cursor: pointer;
}

/* JS */

.checkOut {
  display: none;
}